<h2><%= @merchant.name %> Items</h2>
<section>
  <ul>
    <% @merchant.items.each do |item| %>
      <li id="item-<%= item.id %>">
        <%= image_tag item.image %>
        <br>
        <%= item.name %>
        <br>
        <%= item.description %>
        <br>
        Price: <%= number_to_currency(item.price) %>
        <br>
        <% if item.active? %>
          Status: Active
        <% else %>
          Status: Inactive
        <% end %>
        <br>
        <%= item.inventory %>
        <br>
        <% if item.active? %>
          <%= link_to "Deactivate Item", "/merchant/items/#{item.id}", method: :patch %>
        <% else %>
          <%= link_to "Activate Item", "/merchant/items/#{item.id}", method: :patch %>
        <% end %>
        <br>
        <%= link_to "Delete Item", "/merchant/items/#{item.id}", method: :delete if item.never_ordered? %>
      </li>
      <br>
    <% end %>
</section>
<footer>
  <h3><%= link_to "Add New Item", "/merchant/items/new", method: :get %></h3>
</footer>
