<h1>Create New Item</h1>
<center>
  <%= form_for @item, url: "/merchant/items" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :value => (if params[:item].present? then params[:item][:name] else nil end) %>

    <%= f.label :description %>
    <%= f.text_field :description, :value => (if params[:item].present? then params[:item][:description] else nil end)  %>

    <%= f.label :price %>
    <%= f.number_field :price, :value => (if params[:item].present? then params[:item][:price] else nil end) %>

    <%= f.label :image %>
    <%= f.text_field :image, :value => (if params[:item].present? then params[:item][:image] else nil end) %>

    <%= f.label :inventory %>
    <%= f.number_field :inventory, :value => (if params[:item].present? then params[:item][:inventory] else nil end) %>

    <%= f.submit %>
  <% end %>
</center>
