<h1 align = "center">Merchants</h1>
<section class = "grid-container">
  <p>
    <% @merchants.each do |merchant|%>
      <tr id="merchant-<%= merchant.id %>">
        <section class = "grid-item">
          <h2><%= merchant.name %></h2> <br>
          <% if merchant.enabled? %>
            <%= "Status: Enabled" %>
            <%= button_to "Disable", "merchants/#{merchant.id}", method: :patch %>
            <% else %>
            <%= "Status: Disabled" %>
          <% end %>
        </section>
      </tr>
    <% end %>
</section>
