<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></p>
<% else %>
  <h1>All Items</h1>
<% end %>
<section class="grid-container">
  <% if @merchant %>
    <%= render partial: '/partials/merchant_item_index', locals: {items: @items, merchant: @merchant} %>
  <% else %>
    <%= render partial: '/partials/user_item_index', locals: {items: @items, merchant: @merchant} %>
  <% end %>
</section>
<h3>Statistics</h3>
<section class="statistics-top-5">
  <% @items.top_five.each do |item| %>
    <ol>
      <li><%= item.name %>: <%= item.total_ordered %></li>
    </ol>
  <% end %>
</section>
<section class="statistics-bottom-5">
  <% @items.bottom_five.each do |item| %>
    <ol>
      <li><%= item.name %>: <%= item.total_ordered %></li>
    </ol>
  <% end %>
</section>
